[Unit]
Description=Prometheus SNMP Exporter Service
After=network.target

[Service]
Type=simple
User=prometheus
ExecStart=/usr/local/bin/snmp_exporter --config.file="/etc/prometheus/snmp.yml"

[Install]
WantedBy=multi-user.target
